**#Section1**

In [1]:
print("this is my second class")

this is my second class

#Functions in python

In [13]:
def area_of_square(num):
  return num * num
print("the area of first is:",area_of_square(6))
#area of second square
print("the area of first is:",area_of_square(16))

the area of first is: 36
the area of first is: 256

Lists in python

In [22]:
fruits = ["apple", "banana", "kiwi", "orange", "strawberry"]
# #Accessing elements
# print(fruits[0])# first element
# print(fruits[4])# 5th element
# print(fruits[-1])# last element

#adding and removing elements from list
fruits.append("mango")
print(fruits)

# remove
fruits.remove("kiwi")
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'strawberry', 'mango']
['apple', 'banana', 'orange', 'strawberry', 'mango']

Tuples in Python

In [29]:
info = ("mira", 20, "Student")
for item in info:
 print(item)

mira
20
Student

Sets in python(home-task)

Dictionaries in python

In [45]:
# #creating Dictionary
# student = {
#     "name": "mira khadka",
#     "age": 20,
#     "course": "computer science"
# }

# #Accessing values of a particular key in a dictionary
# print(student["age"])

# #Updating values of a particular key in a dictionary
# student["age"] = 30
# print(student["age"])

# #adding new key-value pair on the dictionary
# student["Address"] = "Kathmandu"
# print(student)
# print(student["Address"])

# #removing key-value pair on the dictionary
# del student["course"]
# print(student)

# conversion from celcius to fahernheit
num = float(input("enter a number:"))
def celcius_to_fahernheit(num):
  return ((num * 9/5) + 32)

print(celcius_to_fahernheit(num))

enter a number:80
176.0