#Pandas series = 1D array with label

In [ ]:
import pandas as pd
scores = pd.Series([56,89,35,80,91],index=["Maths","Science","English","History","Geography"])
print(scores)

# Task 1: Create a Pandas Series with values [10, 20, 30, 40] and indices [”A”,
# ”B”, ”C”, ”D”]. Print the Series.

Maths        56
Science      89
English      35
History      80
Geography    91
dtype: int64

#Creating a pandas dataframe

In [ ]:
#Creating a dictionary
data = {
    "Name":["Aarav","Bikram","Samir"],
    "Age":[25,26,22],
    "City":["Delhi","Kathmandu","Dhaka"],
    "Country":["India","India","Bangladesh"]
}
#Turning the dictionary into a DataFrame
df = pd.DataFrame(data)
#Printing the DataFrame
print(df)

#Printing the DataFrame without index
print(df.to_string(index=False))

# Task 2: Create a DataFrame with columns ”City” ([”Paris”, ”Tokyo”, ”Syd-
# ney”]) and ”Population” ([2.1, 37.4, 5.3]). Print the DataFrame.

     Name  Age       City     Country
0   Aarav   25      Delhi       India
1  Bikram   26  Kathmandu       India
2   Samir   22      Dhaka  Bangladesh
  Name  Age      City    Country
 Aarav   25     Delhi      India
Bikram   26 Kathmandu      India
 Samir   22     Dhaka Bangladesh

#Filtering data in the dataframe

In [ ]:
#Creating a dictionary
data = {
    "Name":["Aarav","Bikram","Samir"],
    "Age":[25,26,22],
    "City":["Delhi","Kathmandu","Dhaka"],
    "Country":["India","India","Bangladesh"]
}
#Turning the dictionary into a DataFrame
df = pd.DataFrame(data)

# #Printing the DataFrame
# print(df)

#Filtering
filter = df[df["Age"] < 26]
print(filter)


#Task 3: Create a DataFrame with columns ”Name” ([”Eve”, ”Frank”, ”Grace”])
# and ”Age” ([19, 23, 20]). Filter rows where Age is greater than 20 and print the
# result.

    Name  Age   City     Country
0  Aarav   25  Delhi       India
2  Samir   22  Dhaka  Bangladesh

#Reading and connecting a csv file

In [ ]:
import io

#Creating a csv file
csv_data = """
Name,Grade
Sushil,1
Arpan,2
Rohit,3
"""

#Reading a CSV file
df = pd.read_csv(io.StringIO(csv_data))
print(df)

#Calculate average grade
average_grade = df['Grade'].mean()
print(f"Average Grade: {average_grade}")

# Task4: Simulate a CSV string with columns ”Product” ([”Apple”, ”Banana”,
# ”Orange”]) and ”Price” ([1.0, 0.5, 0.75]). Read it into a DataFrame and print the
# sum of prices using df[”Price”].sum().

     Name  Grade
0  Sushil      1
1   Arpan      2
2   Rohit      3
Average Grade: 2.0


# Task 1: Create a Pandas Series with values [10, 20, 30, 40] and indices [”A”,
# ”B”, ”C”, ”D”]. Print the Series.